/*style for body*/
body{
	line-height: 1.5;
	font-family: "arial";
	background-image:url("graphy-dark.png");
	background-color: beige;

}

	/*Header*/


/*Navigation bar in header*/
#main_nav{
margin-left: auto;
 margin-right: auto;
margin:11em 2em;
width: 110em;
display: block;
text-align: center;





}



.nav_block{
	padding: 10em;

}

.nav_element{

	display: inline;
	margin: 3em;


}
#home_header{
	padding: 3em;

}
#home_title{
	font-size: 8em;

	position: absolute;
	top:1.3em;
	right 1em;
	width: 5em;
	line-height: 90%;
	background-image:url("graphy-dark.png");
	background-color: white;

}
#title_and_pic{

	padding: 13em;
	position: absolute;
	top:15em;

}
#header_pic{
	position: relative;
	left: 50em;
	bottom: 6em;
}
#sub_home{
	font-size: 0.4em;
}
.main {
	border: transaparent;
	background-clip: border-box;
	padding: 3em;
	color:black;
	font-size: 1.2em;
	margin-left: auto;
    margin-right: auto;
    width: 40em;

	 text-align: justify;
	text-justify: inter-word;


	background-image:url("graphy-dark.png");
	background-color: AliceBlue;

}

.main_blog
{

	border: transaparent;
	background-clip: border-box;
	padding: 3em;
	color:black;
	font-size: 1.2em;
	margin-left: auto;
    margin-right: auto;
    width: 60em;

	 text-align: justify;
	text-justify: inter-word;


	background-image:url("graphy-dark.png");
	background-color: AliceBlue;
}


article{


}

.normal_header{
	text-align: center;
}
.heading_title{

	text-align: center;
	font-size: 4em;
	position: relative;
	top: 1em;
	padding: 1.6em;
}
figure, footer{

	background-image:url("rocky-wall.png");

	padding: 1em;

}

figure{
	background-color: LightSeaGreen;
}

footer{
	background-color: DarkSeaGreen;
}


.left{

	border: 0.1em solid black;
	float: left;
	position: relative;
	left: 10em;
	top: 15em;
	width:15em;
	padding: 1em;
	margin: 1em;
	background-image:url("graphy-dark.png");
	background-color: PaleTurquoise;

}


#index{
	background-image:url("graphy-dark.png");
	background-color: PaleTurquoise;
	border: 0.1em solid black;

	position: fixed;
	float: right;
	right: 10em;

	width:15em;
	padding: 1em;
	margin: 1em;
}


figcaption{
	font-size: 0.8em;
}

.float_right
{
	float:right;
}

.blog_time
{
	float:right;
	color: grey;
}

hr{
	border-top: 3px solid black;
}


.logo{
	float: left;
}

	td, th{
		border: 1px solid black;
	}

	#table_title{
		text-align: center;
		font-size: 2em;

	}

	table{
		  margin-left: auto;
  margin-right: auto;
  width: 30em;
	}


	td{
		text-align: center;
		font-size: 1em;
	}



	.achievements{

		border: 0.1em solid black;
	float: left;
	position: relative;
	left: 10em;

	width:15em;
	padding: 1em;
	margin: 1em;
	background-image:url("graphy-dark.png");
	background-color: PaleTurquoise;
	}


.lvl1{
	background-color: #f59090;
}
.lvl2{
	background-color: #f5d290;
}
.lvl3{
	background-color: #9095f5;
}
.lvl4{
	background-color: #90f5f2;
}
.lvl5{
	background-color: #95f590;
}
.tick{
list-style-type: "✓  ";
}

.blog_index{

	background-image:url("graphy-dark.png");
	background-color: PaleTurquoise;
	border: 0.1em solid black;

	position: fixed;
	float: right;
	right: 1em;

	width:15em;
	padding: 1em;
	margin: 1em;

}

.blog_pic{
	width: 33em;
}


h3{
		font-size: 1.3em;
	}

.blog_login{

	border: 0.1em solid black;
	float: left;
	position: relative;


	width:15em;
	padding: 1em;
	margin: 1em;
	background-image:url("graphy-dark.png");
	background-color:#ff7866;
}
	.content_class{
		height:20em; width:50em;
	}



		.add_title{
		height:1em; width:50em;
	}

#addpost{
	color: blue;
	text-align: center;
}

#content_empty, #title_empty{
	color: red;
}

@media screen and (max-width: 1919px) {
  body {
    width: 90%;
  }
}

.fail{
	color: blue;
	font-size = 0.5em;
}


.comment{
	color: blue;
	font-size: 0.2em;
}

.preview{
	color: blue;
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
}
